* {
background-color: #42f
margin 0;
}

h1 {
   margin: 750px;
   margin-bottom: 375px;


   padding-top: 37.5px;
   padding-bottom: 37.5px'


   text-align: center;

    background-color: rgba(81, 81, 231, 0.829);
    color: white;
    font-size: 64px;
    font-family: Helvetica; 
}

p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
